.jumbotron {
	background: url("../images/jumbotron.png"), transparent;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 90%;
	height: 400px;
}

.login {
	margin-left: 90%;
	font-family: Georgia, sans-serif;
	font-size: 1.2em;
}
body {
	background: none no-repeat scroll 0 0 url("../images/background.png");
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: rgb(66, 139, 202);
	height: 100%;
}

.pageclass {
	text-align: center;
}
	
.nav-tabs {
	background: transparent;
}

.nav-tabs>li>a {
	background-color: rgb(66, 139, 202);
	color: #fff;
	border: 1px solid #fff;
	margin: 0px;
}

.nav-tabs>li>a:hover {
	background-color: rgba(66, 139, 202, 0.5);
}

.nav-tabs>li>a:FOCUS {
	background-color: #fff;
	border: 1px solid #428bca;
	color: #428bca;
}

.dropdown-menu {
	margin: 0;
}
.lesserWidth {
	width: 60%;
	margin: auto;
}

#usertable {
	background-color: rgba(255, 255, 255,0.5);
}

#noSelectedUserAlert{
	position: relative;
	display: inline-block;
	text-align:center;
	width: 15%;
	margin-left: 78%;
	
}


#divpopup{
	border: 2px solid #428bca;
	background-color: rgba(255,255,255,0.9);
	width: 30%;
	height: 200px;
	position: absolute;
	margin-left: 35%;
	margin-right: 35%;
	z-index: 100;
	
}

.vAlignMid {
	margin-top: 40px;
}

ul{
    list-style-type: none;
}

.container{
	margin-top: 30px;
}

#counter{
	text-align: right;
	color: red;
	font-size: 1.1em;
}

.marginTop{
	margin-top: 10px;
}


option{
	font-size: 1.2em;
}


.undercategories{
	width: 35%;
	margin: auto;
	padding-top: 1%;
}

#reg{
	margin-top:2%;
}

.quizTableWidth{
	width: 30%;
	margin: auto;
}





