/* General */

* {
    font-family: "Open Sans", 'Helvetica Neue', Arial !important;
}

h1, h2, h3, h4, h5 {
    letter-spacing: 0.03em;
    font-weight: 700;
    text-transform: uppercase;
}

.btn {
    font-weight: 600;
}

.navbar-logo {
	margin-top: 20px;
	margin-bottom: 25px;
}

.article-wrapper {
    padding: 0 15px 20px 15px;
}

@media (min-width: 760px) {

    .article-wrapper {
        padding: 0 10% 20px 10%;
    }

}

@media (min-width: 1000px) {

    .article-wrapper {
        padding: 0 15% 20px 15%;
    }

}

.language-links {
	margin-bottom: 15px;
}

.navbar .navigation .children {
    right: 0;
}

.navbar .navigation span.language {
    display: inline-block;
}

#main-navbar a {
    font-weight: bold;
    letter-spacing: 0.07em;
}

    /* Test */

.test-offer {
	padding: 15px;
	border: 1px solid #E7E7E8;
	background-color: #F9F9F9;
	text-align: center;
	margin: 15px -15px;
}

.test-offer .btn {
	margin: -4px 10px 0 10px;
	outline: 0;
}

.test-offer div {
	margin-top: 10px;
}

.test-header-1 {
    background-image: url('https://s3-eu-west-1.amazonaws.com/16p/images/test-header-1.png');
}

.test-header-2 {
    background-image: url('https://s3-eu-west-1.amazonaws.com/16p/images/test-header-2.png');
}

.test-header-3 {
    background-image: url('https://s3-eu-west-1.amazonaws.com/16p/images/test-header-3.png');
}

.test-question-answer-left, .test-question-answer-right {
    width: 20%;
}

@media (min-width: 530px) {

    .test-question-answer-left, .test-question-answer-right {
        width: calc((100% - 318px) / 2);
    }

    .test-question-answer-options-wrapper {
        padding: 0 15px;
    }

    .test-question-answer-options:nth-of-type(1) {
        margin-right: 10px;
    }

    .test-question-answer-options:nth-of-type(2), .test-question-answer-options:nth-of-type(6) {
        margin: 4px 10px 0 0 !important;
    }

    .test-question-answer-options:nth-of-type(3), .test-question-answer-options:nth-of-type(4), .test-question-answer-options:nth-of-type(5) {
        margin: 8px 10px 0 0 !important;;
    }

    .test_question_slider_wrapper {
        padding: 6px 0 0 0;
    }

}

@media (min-width: 1200px) {

    .test-question-answer-left, .test-question-answer-right {
        width: 25%;
    }

}

/* Test results */

.test-results-caption {
	display: block;
}

.test-results-nicetype {
    font-size: 2.5em;
}

.test-results-type {
	font-size: 2em;
}

@media (min-width: 760px) {

    .test-results-nicetype {
        font-size: 3.5em;
    }

    .test-results-type {
        font-size: 3em;
    }

}

.test-results-description {
	padding-top: 20px;
	clear: both;
}

.test-results-image-wrapper img {
    width: 100%;
    max-width: 300px;
}

/* Social */

.social-row {
	margin: 5px 0 10px 0;
}

@media (min-width: 760px) {

    .social-row {
        padding: 0 10%;
    }

}

@media (min-width: 1000px) {

    .social-row {
        padding: 0 15%;
    }

}

.social-wrapper {
	display: inline-block;
    padding: 10px 0 20px 0;
}

.social-count {
    margin: 5px 15px 10px 0;
}

.social-item {
	float: left;
	margin-right: 10px;
}

.social-item img {
	width: 40px;
	height: 40px;
}

@media (min-width: 500px) {

    .social-item img {
        width: 60px;
        height: 60px;
    }

}

/*
.social-caption {
	float: left;
	text-transform: uppercase;
	font-size: 1.5em;
	color: #404041;
	margin-right: 15px;
	padding-top: 10px;
}

*/

/* Academy */

.type-chart h4 {
    margin: 20px 0 5px 0 !important;
}

.type-chart h5 {
    margin-top: 7px !important;
}

/* Type descriptions */

.description-title {
	text-align: center;
	font-weight: 600;
	margin: 25px 0 0 0;
}

.description-nicetitle {
    text-align: center;
    font-family: Montserrat,"Open Sans","Helvetica Neue",Arial;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #58585A;
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px 0 15px 0;
}

@media (min-width: 460px) {

    .description-title {
        font-size: 2em;
    }

    .description-nicetitle {
        font-size: 1.5em;
    }

}

.more-cta {
	padding: 15px;
	margin-bottom: 15px;
	border: 1px solid #E7E7E8;
	background-color: #F9F9F9;
}

/* Old home page */

.welcome-container-wrapper {
    padding-left: 0;
    padding-right: 0;
}

.welcome-container {
    height: 580px;
    background-image: url('/images/background-small.png');
    background-position: -180px 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.welcome-text {
    position: relative;
    width: 95%;
    margin: 5% 0 0 3%;
    background-color: rgba(255, 255, 255, 0);
    padding: 13px;
}

.welcome-test-header {
    color: #4BB5C1;
    font-size: 1.3em;
    font-weight: bold;
    display: block;
}

.welcome-test-subheader {
    color: #5A5A5A;
    font-size: 1em;
    font-weight: 500;
    padding-top: 20px;
    display: block;
}

.welcome-test-subheader-2 {
    color: #5A5A5A;
    font-size: 0.9em;
    font-weight: 500;
    padding-top: 40px;
    display: block;
}

#welcome-quote {
    display: block;
    padding: 0 20px 50px 20px;
    font-style: italic;
    line-height: 1.5;
    color: #AAA;
}

.welcome-container-button {
    text-align: right;
    margin-top: 15px;
}

.welcome-container-button .col-md-12 {
    padding: 0;
}

.welcome-sections {
    margin-top: 40px;
}

@media (min-width: 450px) {

    .welcome-text {
        width: 95%;
        margin: 10px 2% 0 2%;
    }

    .welcome-test-header {
        font-size: 1.4em;
    }

    .welcome-test-subheader {
        font-size: 1.2em;
    }

}

@media (min-width: 530px) {

    .welcome-test-header {
        font-size: 1.6em;
    }

}

@media (min-width: 570px) {

    .welcome-container {
        height: 580px;
        background-image: url('/images/background-small.png');
        background-position: left center;
        background-size: cover;
        padding-top: 40px;
        padding-left: 0;
        padding-right: 0;
    }

    .welcome-test-header {
        font-size: 1.7em;
    }

    .welcome-test-subheader {
        font-size: 1.3em;
    }

}

@media (min-width: 720px) {

    .welcome-text {
        margin: 0 0 0 20px;
    }

    .welcome-test-header {
        font-size: 1.8em;
    }

    .welcome-test-subheader {
        font-size: 1.5em;
    }

    #welcome-quote {
        padding: 50px 90px 80px 90px;
        text-align: center;
    }

}

.homepage-cta-button-center {
    width: 100%;
    padding: 10px 15px;
    margin-top: 15px;
    font-size: 1.3em;
}

@media (min-width: 510px) {

    .homepage-cta-button-center {
        width: auto;
    }

}

@media (min-width: 1010px) {

    .welcome-container-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .welcome-container {
        padding-top: 0;
        height: 440px;
        background-image: url('/images/background.png');
        background-size: cover;
        margin-left: 0;
    }

    .welcome-test-header {
        font-size: 1.2em;
    }

    .welcome-test-subheader {
        font-size: 1em;
    }

    .welcome-text {
        width: 40%;
        margin: 40px 0 0 54%;
    }

}

@media (min-width: 1200px) {

    .welcome-text {
        width: 460px;
        margin: 65px 0 0 647px;
    }

    .welcome-container-button {
        margin: 15px 0 0 0;
    }

    .welcome-container {
        height: 570px;
        background-position: left center;
        background-size: cover;
        margin-left: 0;
    }

    .welcome-test-header {
        font-size: 1.55em;
    }

    .welcome-test-subheader {
        font-size: 1.4em;
    }

    .homepage-cta-button-center {
        padding: 15px 30px;
    }

}

/* Footer */

.translator-info, .translator-info a {
    text-align: right;
    font-size: 0.8em;
    color: #999;
    padding: 15px;
}

.translator-info a {
    display: inline;
    padding: 0;
    text-transform: none;
    font-size: 1em;
}

.translator-info a:hover {
    background-color: inherit;
    text-decoration: underline;
}
