.jumbotron{
  background-image: url("../images/jumbobackgroung.png");
  background-repeat: no-repeat;
  background-size:100%;
  width: 100%;
  height: 250px;
}

#login{
	position: relative;
   left: 90%;
   top: 10%;
   font-family: Georgia, sans-serif;
   font-size: 1.2em;
}
