/* General */

body {
    padding: 0 15px;
}

/* Header */

.navbar {
    padding: 5px 0;
}

.navbar .logo {
    float: left;
    margin: 15px 0;
    outline: 0;
}

.navbar .logo img {
    height: 56px;
    width: 250px;
}

.navbar .navigation .nav-item:not(.menu-icon) {
    padding: 1em 0;
}

@media (min-width: 768px) {

    body {
        padding: 0;
    }

}

.navbar .navigation {
    float: right;
    padding: 1.2em 0 1em 0;
    position: relative;
}

.navbar .navigation .nav-item:not(.menu-icon) {
    margin-left: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 0.7em;
    position: relative;
    outline: 0;
    padding-bottom: 3px;
}

.navbar .navigation .nav-item:not(.btn) {
    color: #5A5A5A;
}

.language-links {
    margin-top: 0;
}

.welcome-container {
    margin-left: 0;
}

.welcome-container-wrapper {
    padding-right: 0;
}

.navbar .btn-action {
    padding: 10px 15px !important;
    margin-top: -4px;
}

.navbar .navigation span.language {
    margin-right: 10px;
    display: none;
}

.navbar .navigation span.language.shown {
    display: inline-block !important;
}

@media (min-width: 420px) and (max-width: 569px) {

    .navbar .navigation span.language {
        display: inline-block;
    }

}

@media (min-width: 630px) and (max-width: 670px) {

    .navbar .navigation span.language {
        display: inline-block;
    }

}

@media (min-width: 700px) {

    .navbar .navigation span.language {
        display: inline-block;
    }

}

.navbar .navigation span.language:hover {
    cursor: pointer;
    text-decoration: underline;
}

.navbar .btn-action span:hover {
    text-decoration: none;
}

.navbar .navigation span.has-children {
    padding-right: 20px !important;
    background: url("/images/icon-arrow-down.svg") no-repeat scroll right 1.35em / 16px auto transparent;
}

.navbar .navigation span.has-children:hover .children {
    display:block;
}

.navbar .navigation .children {
    position: absolute;
    left: -85px;
    background: none repeat scroll 0% 0% #FFF;
    border-radius: 3px;
    z-index: 99;
    width: 300px;
    display: none;
    margin-top: 3px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-columns: 2 auto;
    -moz-column-gap: 2px;
    -moz-column-rule: 1px solid #EEE;
    padding: 10px 0;
}

@media (min-width: 1010px) {

    .navbar .navigation .children {
        left: -150px;
    }

}

@media (min-width: 1200px) {

    .navbar .navigation .children {
        left: -120px;
    }

}

@media (min-width: 1400px) {

    .navbar .navigation .children {
        left: 0px;
    }

}

.navbar .navigation .children a:hover {
    background: none repeat scroll 0% 0% #F5F4F3;
    text-decoration: none;
}

.navbar .navigation .children a {
    display: block;
    font-family: "Helvetica Neue", Arial;
    font-size: 0.95em;
    background: none repeat scroll 0% 0% transparent;
    padding: 0.5em 2em;
    margin: 0;
    color: #5A5A5A;
    transition: all 0.1s ease 0s;
    outline: 0;
}

/* Footer */

/* - FOOTER
---------------------------------------------- */
#footer{
    padding: 3% 0 0 0;
    border-top:1px solid #e9e9e9;
    background:#fff;
}
#footer h4{
    margin-top:15px;
    margin-bottom: 15px;
    line-height:1em;
    font-weight:500;
    text-transform: none;
}

#footer h4 a {
    font-size: 1em;
}

#footer nav.highlighted a{
    margin-bottom:7px;
    font-size:0.8em;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
#footer nav.highlighted a:hover{
    /*
        text-decoration:none;
        background:#f1f1f1;
    */
}
#footer nav a{
    padding:0.5em 0;
    outline: 0;
    color: #5A5A5A;
}
#footer a,
#footer p{
    font-size:0.8em;
    color: #4C4C4C;
}

#footer .logo{
    display:block;
    max-width:210px;
    /* 	opacity:0.5;	 */
}
#footer .logo:hover{
    opacity:1;
}
#footer .logo img{
    margin:0 0 1em 0;
    max-width: 210px;
    max-height: 47px;
}
#footer .logo svg{
    display:block;
}

#footer .copyright,
#footer .stats{
    text-transform:uppercase;
    padding-top: 2%;
}
#footer .copyright p,
#footer .stats p{
    font-size:0.8em;
    letter-spacing:0.05em;
    font-weight:700;
}
#footer .copyright{
    clear:left;
}
#footer .copyright p{
    color:#999;
    text-transform:none;
    font-weight:400;
}
#footer .stats{
    text-align:right;
}
#footer .stats span{
    color:#51a9ab;
    margin-left:20px;
}
#footer nav{
}
#footer nav a{
    display:block;
}

/* Grid */

.columns{
    float:left;
    margin:0 4.5% 0 0;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.columns.center{
    float:none;
    margin:0 auto !important;
}
.columns:last-child,
.columns.last{margin-right:0;}

.one.columns	{width:4.20833333333%;}
.two.columns	{width:12.9166666667%;}
.three.columns	{width:21.625%;}
.four.columns	{width:30.3333333333%;}
.five.columns	{width:39.0416666667%;}
.six.columns	{width:47.75%;}
.seven.columns	{width:56.4583333333%;}
.eight.columns	{width:65.1666666667%;}
.nine.columns	{width:73.875%;}
.ten.columns	{width:82.5833333333%;}
.eleven.columns	{width:91.2916666667%;}
.twelve.columns	{width:100%;margin-left:0;}

@media all and (max-width: 768px){
    .columns{
        float:none;
        width:auto !important;
        margin-right:0;
    }
}
.constraint{
    max-width:1170px;
    margin:0 auto;
    overflow:hidden;
    padding:0 2em;
}

