.timer{
position: fixed;
  top: 55%;
  right:20%;
  background: linear-gradient(#428bca, #5bc0de);
  color: #FFF;
  border: 10px solid #FFF;
  padding:20px;
  border-radius: 5px;
  text-align: center;
  width: 15%;
}
.timer > span{
  font-size: 2em;

}

.timer > p{
  font-size: 2em;
  font-family: Georgia, sans-serif;
}

.quizTA[readonly]{
	
	background-color: rgba(66, 139, 202, 0.7);
	border: none;
	font-size: 1.2em;
	font-family: Georgia, sans-serif;
	color: #FFF;
	margin: 7% 0;
	resize: none;
}

.quizSection{
	width: 70%;
	margin:4% 1%;
	background-color: rgba(255,255,255,0.3);
	padding: 2% 8% 5%;
	border-radius: 10px;
}


.clearBoth {
	clear: both;
}

label {
  width: 100%;
  border-radius: 3px;
  background-color: rgba(66, 139, 202, 0.7);
  border: 1px solid #FFF;
  color: white;
  font-size: 1em;
}

input.radio:empty {
	margin-left: -999px;
}

input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2em;
	text-align: left;
	cursor: pointer;
	padding-left: 10%;

}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 8%;
	background: rgba(255,255,255,0.8);
}

input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	color: #FFF;
	background-color: rgba(66, 139, 202, 0.7);
	text-indent: 3%;
}

input.radio:hover:not(:checked) ~ label {
	color: rgba(66, 139, 202, 0.7);
	background-color: #FFF;
}

input.radio:checked ~ label:before {
	content:'\2714';
	color: #FFF;
	background-color: #4DCB6D;
	border: 1px solid #FFF;
	text-indent: 3%;
}